body {
    background-color: rgb(230, 230, 230);
}


@media (min-width: 320px) {
header {
    background-color: rgb(255, 226, 95);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 52%;
    
}
.header-image {
    border-radius: 50%;
    width: 10em;
    padding: 0;
    top: 10em; 
}

.header-text {
    text-align: center;
    width: 100%;

}

.navbar {
    font-size: 0.6em;
    text-align: center;
}

.navbar a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}

}